body {
  background: #121512;
}

.back-link {
  color: #c6e7c6;
}

.case-study-subtitle {
  color: #c6e7c6;
}

.section-title {
  color: #c6e7c6;
}

.case-study-subheading em {
  color: #c6e7c6;
}

.walkthrough-img {
  height: 30rem;
}

.card {
  background: #040604;
}

.card-title {
  color: #c6e7c6;
}

.walkthrough-img {
  background: radial-gradient(58.67% 50% at 50% 50%, #000 0%, #1d2219 100%);
}

.walkthrough-title {
  color: #c6e7c6;
}

.inline-link {
  color: #c6e7c6;
}
