body {
  background: #33241c;
}

.back-link {
  color: #fdae92;
}

.case-study-subtitle {
  color: #fdae92;
}

.section-title {
  color: #fdae92;
}

.case-study-subheading em {
  color: #fdae92;
}

.card {
  background: #060504;
}

.card-title {
  color: #fdae92;
}

.walkthrough-img {
  background: rgba(129, 83, 65, 0.4);
}

.walkthrough-title {
  color: #fdae92;
}
